<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-image-compressor"
    version="1.0.0">
    <name>Cordova Image Compressor</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/JoxieMedina/Cordova-Image-Compressor</repo>
    <issue>https://github.com/JoxieMedina/Cordova-Image-Compressor/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="ImageCompressor" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ImageCompressor">
          <param name="android-package" value="com.joxiemedina.ImageCompressor" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

       <config-file parent="/*" target="AndroidManifest.xml">
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
        </config-file>


      <source-file src="src/android/com/joxiemedina/ImageCompressor.java" target-dir="src/com/joxiemedina/" />
      <source-file src="src/android/com/joxiemedina/ImageUtil.java" target-dir="src/com/joxiemedina/" />
      <source-file src="src/android/com/joxiemedina/UriToFileUtil.java" target-dir="src/com/joxiemedina/" />
    </platform>
</plugin>
